  <div class="container">
  <div class="row mb-3">
  <div class="col">

<% if account_signed_in? %>
<div class="float-right">
<%= link_to "Create New Community", new_community_path, class: "btn btn-outline-primary" %>
</div>
<%end%>
</div>
</div>

<% if @communities.size > 0 %>
  <% @communities.each do |community| %>
  <div class="card mb-2" style="height: 7rem;">
    <div class="card-body">
      <h5 class="card-title"><%= link_to community.name, community %></h5>
      <p class="card-text"><%= simple_format community.rules %></p>
    </div>
  </div>
  <% end %>
<% else %>
  <p>No communities to show</p>
<% end %>
  </div>
