<div class="row">
  <div class="col-sm-8">
    <%= render partial: "posts/list_posts", locals: {posts: @posts} %>
  </div>
  <div class="col-sm-4">
    <p>name: <%= @profile.full_name%></p>
    <p>u/ <%= @profile.username%></p>
    <p>bio: Unwilling sportsmen he in questions september therefore described so. Attacks may set few believe moments was. Reasonably how possession shy way introduced age inquietude. Missed he engage no exeter of. Still tried means we aware order among on. Eldest father can design tastes did joy settle. Roused future he ye an marked. Arose mr rapid in so vexed words. Gay welcome led add lasting chiefly say looking.</p>
    <p>created_at: <%= @profile.created_at.strftime("%d/%m/%Y")%></p>
  </div>
</div>