<div class="row">
  <div class="col-sm-8">
    <%= render partial: "posts/list_posts", locals: {posts: @posts} %>
  </div>
  <div class="col-sm-4">
    <p class="h4"><%= @profile.full_name%></p>
    <p>u/<%= @profile.username%></p>
    <p>bio: Unwilling sportsmen he in questions september therefore described so. Attacks may set few believe moments was. add lasting chiefly say looking.</p>
    <p>You joint at: <%= @profile.created_at.strftime("%d/%m/%Y")%></p>
  </div>
</div>